<!DOCTYPE html>
<html>
  <head>
    <title>My MEAN Stack App!</title>
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="styles/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.2/angular-ui-router.js"></script>
    <script src="/javascripts/angularApp.js"></script>
  </head>
  <body ng-app="flapperNews">

    <div class="page-header">
      <h3>
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </h3>
    </div>

    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
      <span class="glyphicon glyphicon-thumbs-up"
        ng-click="incrementUpvotes(comment)"></span>
      {{comment.upvotes}} - by {{comment.author}}
      <span class="comment-body">
        {{comment.body}}
      </span>
    </div>

    <form ng-submit="addComment()">
      <h3>Add a new comment</h3>

      <div class="form-group">
        <input 
          type="text"
          class="form-control"
          placeholder="Comment"
          ng-model="body" />
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>
  </body>
</html>

